@media (max-width: 991px){
    header{
    // position: fixed;
    // top: 9rem;
    left: 0;
    right: 0;
    width: 90%;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    text-align: center;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    top: -100%;
    }
    header .right-header{
        padding: 2rem !important;
    }

    .theme-btn{
        width: 30%;
        height: 30%;
    }

    .header-content{
        flex-direction: column;
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: block;
        }
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 autho;
        .name{
            font-size: 2.5rem !important;
        }
    }

    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }

    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
    }
    .left-about{
        padding-right: 0;
        p{
            padding-left: 0;
        }
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }

    .selection{
        padding: 2rem 2.5rem;
    }


    .controlls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }
}

// @media (max-width: 1200px) {
//     .header-content {
//       flex-direction: column;
//     }
// }
  